* {
    /*Editar los margenes predefinidos de la pagina*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {}

.navegacion {
    width: 1250px;
    margin: 15px auto;
    background: rgb(219, 219, 219);
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: revalite;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*display:block es para crear una caja del a, en el padding el primer numero es distancia arriba, abajo, el segundo; distancia derecha izquierda*/


/*el text-decoration es para que le quite la decoracion  (subrayado etc)*/

.menu>li>a {
    display: block;
    padding: 15px 25px;
    color: #353535;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #353535;
}


/*Aqui le digo coja a todos los li y todos los a del menu y deles la animacion hover, que hace que brille del color que le de*/


/*El transition sirve para que la animacion que le di en hover no sea tan brusca, que se demore (0.3) el punto significa 0 segundos en aparecer*/

.menu>li>a:hover {
    color: whitesmoke;
    transition: all .3s;
    background: rgb(9, 26, 61);
}


/*aqui le digo a todos los li del menu les ponga la animacion del hover al submennu*/