<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista Tareas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <script language="javascript">
        function mostrar()
        {
            var reg_1=document.getElementById("reg_1");
            var reg_2=document.getElementById("reg_2");
            var reg_3=document.getElementById("reg_3");
        
            document.write(
            "<table cellpadding='5' cellspacing='0' border='1'>" +
            "<tr><td>Registro 1</td><td>Registro 2</td><td>Registro 3</td></tr>"+
            "<tr><td>"+reg_1.value+"</td><td>"+reg_2.value+"</td><td>"+reg_3.value+"</td></tr></table>"
            );
        }
        </script>
        <form>
        Registro 1  
          <input type="text" id="reg_1"/><br /><br />
        Registro 2 
        <input type="text" id="reg_2"/><br /><br />
        Registro 3 
        <input type="text" id="reg_3"/><br><br />
        <input type="button" onclick="mostrar()" value="mostrar en tabla"/>
        </form> 
</body>

</html>