<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista Tareas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="static/estilo.css">
    <script src="main.js"></script>
</head>

<body>
        
    <header>
        <h1 align="center" style="padding-top: 30px; padding-bottom: 20px;">¡Organiza Tus Trabajos!</h1>
    </header>
    
    
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="/">Agregar</a></li>
            <li><a href="/tareas" >Lista de Trabajos</a></li> 
            <li><a href="#">Contacto</a></li>
            <li><a href="#" >Ayuda</a></li>
        </ul>
    </nav>
    <hr/>
    <br/>
    <br/>
    <br/>
    <section>
    <table id="tabla" nombre="tabla" border="border: red 5px inset" style="margin: 0 auto;">
       <thead>
          <tr>
             <th>Tarea</th>
             <th>Materia</th>
             <th>Fecha</th>
             <th>Descripcion</th>
          </tr>
       </thead>

       <tbody>
          {% for Tarea in Tareas %}
             <tr>
                <td>{{ Tarea.nombre_tarea }}</td>
                <td>{{ Tarea.nombre_materia }}</td>
                <td>{{ Tarea.fecha_tarea }}</td>
                <td>{{ Tarea.descripcion_tarea }}</td>
             </tr>
          {% endfor %}
       </tbody>
    </table>
</section>
<footer>

    <p style="text-align: right; padding-right: 60px; padding-top: 350px; padding-bottom: 20px"><strong>2019</strong></p>
</footer>
 </body>

</html>