<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organiza tus trabajos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/estilo.css">
    <script src="main.js"></script>
</head>

<body>

    <script language="javascript">
        var array = new Array();

        function mostrar() {
            var nombre = document.getElementById("nombre");
            var materia = document.getElementById("materia");
            var descripcion = document.getElementById("descripcion");
            array.push(nombre.value);

            array.push(materia.value);

            array.push(descripcion.value);
            for (var i in array) {
                console.log(array[i]); // elemento actual
            }


            /*console.log(
                "<table cellpadding='5' cellspacing='0' border='1'>" +
                "<tr><td>Registro 1</td><td>Registro 2</td><td>Registro 3</td></tr>" +
                "<tr><td>" + reg_1.value + "</td><td>" + reg_2.value + "</td><td>" + reg_3.value + "</td></tr></table>"
            );*/
        }
    </script>
    <header>
        <h1 align="center" style="padding-top: 30px; padding-bottom: 20px;">¡Organiza Tus Trabajos!</h1>
    </header>
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="http://127.0.0.1:5000/">Agregar Trabajo</a></li>
            <li><a href="http://127.0.0.1:5000/lista">Todos los Trabajos</a></li>
        </ul>
    </nav>
    <hr />

    <br />
    <section>
        <h4 id="obligatorio" style="color: red;text-align: center">(*) Obligatorio</h4>
        <br />
        <form action="" method="post">

            <table style="margin: 0 auto ">


                <p>

                    <tr>
                        <th colspan="3">

                            <label for="nombre ">Nombre <span style="color:red">*</span> </label>
                        </th>

                        <td colspan="2">
                            <input type="text " id="nombre" name="nombre" placeholder="Ingrese Nombre Trabajo " required />
                        </td>

                        <th colspan="2 ">
                            <label for="materia">Materia <span style="color:red">*</span></label>
                        </th>

                        <td>
                            <input type="text " id="materia" name="materia" placeholder="Ingrese Nombre Materia " required />
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2 ">


                            <td>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </td>

                            <th colspan="2 ">
                                <label for="fecha ">Fecha Entrega <span style="color:red">*</span></label>
                            </th>

                            <td>
                                <input type="date" name="fecha" id="fecha" value="" required>
                            </td>
                    </tr>
                </p>
            </table>
            <header>
                <h4 align="center">Descripción del Trabajo</h4>
            </header>
            <table style="margin: 0 auto">

                <tr>
                    <td>
                        <textarea name="descripcion" id="descripcion" rows="7" cols="50" placeholder="-- Escribe la descripción --"></textarea>
                    </td>
                </tr>
            </table>

            <table style="margin: 0 auto">

                <tr>

                    <td>
                        <input type="button" width="30" height="50" onclick="mostrar()" value="Guardar" />
                    </td>
                    <td>
                        <pre id="whereToPrint"></pre>
                    </td>

                </tr>
                <tr>


                </tr>
            </table>
        </form>
    </section>
</body>

</html>